body{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(250, 248, 248);
    margin: 0;

}
h1{
    font-size: 40px;
}
h2{
    font-size: 25px;
}
.orange{
    color: rgb(241, 179, 65);
}
.flexible-container{
    display: flex;
    margin-bottom: 70px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
    padding-right: 10px;
}
.half-width img{
    width:60%
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(255, 123, 0), rgb(248, 180, 69));
    color: white;
    font-weight: 700;
    padding: 7px 20px;
    border-radius: 5px;
}
.top-banner{
    background-image: url(/images/top-banner.png);
    background-repeat: no-repeat;
}
.red{
    color: rgba(230, 59, 36, 0.979);
}
.second{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.information-item{
    box-shadow: 20px 20px 30px rgb(119, 118, 118);
    width: 80%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    padding-right: 15px;
    text-align: justify;
    border-radius: 10px;
    
}
.third{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#educational{
    border-image: linear-gradient(rgb(235, 165, 36), rgb(240, 114, 92));
    border-image-slice: 1;
    border-left: 7px solid;
}
#skills{
    border-image: linear-gradient(rgb(135, 135, 212), rgb(67, 212, 212));
    border-image-slice: 1;
    border-left: 7px solid;
}
footer p {
    text-align: center;
}